# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# VS Code workspace settings
.vscode/
*.code-workspace

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Data directories
data*

# Directory for scratch work
scratch/
notebooks/

# Synthstrip docker files
synthstrip/

# Shell script orchestrating runs
scripts/train_sweep.sh
